*{
  margin: 0%;
  padding: 0%;
}
.merriweather-merri{
  font-family: "Merriweather", serif;
  font-optical-sizing: auto;
  font-weight: <weight>;
  font-style: normal;
  font-variation-settings:
    "wdth" 100;
}
.header{
    background-image: url(../pictures/Banner\ Image\ -\ Copy.png);
    filter: brightness(85%);
     width: 900px;
  height: 500px;
  background-repeat: no-repeat;
  size: contain;
  position: center top;
  margin: 60px 130px;
  padding: 35px 390px;
  border-radius: 10px 10px;
}
.header-content{
  display: flex;
  flex-direction: column;
  margin: 150px 200px;
  justify-content: center;
  align-items: center;
  gap: 26px;
  color: #cecccc
  
  
}
.header-h2{
font-size: 60px;
text-shadow: 10px 5px 20px black;
}
.header-h5{
  font-size: 22px;
  font-weight: 100;
}
.second-pic{
  width: 800px;
    height: 500px;
  size: contain;
  position: center top;
  margin: 60px 20px;
  padding: 46px 446px;
  border-radius: 10px;
}
.deal{
  text-align: center;
}
.deal-header{
  font-size: 88px;
  font-weight: 600;
  padding: 48px 200px;
  color: #FF0000;
}
.deal-sub-header{
  font-size: 24px;
  font-weight: medium;
  color: #ff0000;
  padding: 16px 600px;
}
.deal-last-header{
  padding: 16px 600px;
  font-size: 48px;
  font-weight: 600;
}
.welcome{
  margin: 0 auto;

  
}
.welcome-header{
  font-size: 64px;
  font-weight: 600;
  color: #FFFFFF;
  padding: 50px auto;
 
}
.welcome-party{
  background-image: url(../pictures/Vectorrr.png);
  filter: brightness(70%);
  width: 800px;
  height: 500px;
  background-repeat: no-repeat;
  size: contain;
  position: right;
  margin: 60px 130px;
  padding: 35px 390px;
  border-radius: 10px;
  display: flex;
  justify-content: space-between;
  gap: 24px;
}
.welcome-para{
  font-size: 18px;
  font-weight: 100;
  color: #FFFFFF;
  display: flex;
  flex-direction: column;
}
.join-btn{

  font-size: 20px;
  font-weight: 600;
  color: #FFFFFF;
  padding: 0px;
  margin: 20px 0px;
  background: transparent;

}
.orange{
  color:#FF0000;
}
.time{
  background-image: linear-gradient(to bottom right, rgb(255,231,231), #ffff);
  font-size: 32px;
  font-weight: 500;
  text-align: center;
  margin:30px 60px;
  padding: 35px 390px;
  border-radius: 10px;
  
}
button a{
  color: #FFFFFF;
  padding: 16px 32px;
  background-color: #FF0000;
  margin: 0%;
  border-radius: 16px;
  text-decoration: none;
  height: 50px;
  width: 150px;
  gap: 10px;
  
  
}
.display{
  padding: 80px 26px;
  display: flex;
  flex-direction: column;
}
.coming-soon{
  display: flex;
  justify-content: space-between;
  gap: 100px;
  margin:30px 60px;
  padding: 35px 200px;

}
.best{
  font-size: 24px;
  font-weight: 400;
}
.soon{
  font-size: 48px;
  font-weight: 500;
}
.p-soon{
  font-size: 20px;
  font-weight: 100;
  color: rgba(7, 2, 17, 0.6);
}
.part-two{
  display: inline-block;
  padding: 20px;
  border: 10px solid red;
  border-radius: 50%;
}
.bold{
  font-size: 48px;
  font-weight: 600;
}
.part-three{
  display: flex;
  padding: 20px;
 gap: 20px;
 }
 .sale{
text-align: center;
 }

.flex-img{
  display: flex;
  justify-content: space-between;
  
  }
  

.my-img{
  bottom: 0;
width: 20%;
height: 10%;
 background-image: url("../pictures/Rectangle\ 2\ -\ Copy.png");
  background-repeat: no-repeat;
  background-position: bottom;
  background-size: contain;
  overflow: hidden;

}
.bottom-right{
  position: bottom right;
  
}
.bottom-left{
  position: bottom left;
}
.both-sale{
margin: 100px 46px;
}
.sale-header{
  font-size: 70px;
  font-weight: 600;
}